.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
# lib/firebase_options.dart is now censored and tracked
lib/config/secrets.dart
.firebase/
functions/node_modules/
assets/service_account.json
rl.sh
