.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
lib/firebase_options.dart
.firebase/
functions/node_modules/
